@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="_customTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudForm />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private readonly MudTheme _customTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            Success = Colors.Green.Default,
            Error = Colors.Red.Default,
            Info = Colors.BlueGray.Default,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1,
            Secondary = Colors.Green.Lighten1,
            Success = Colors.Green.Lighten2,
            Error = Colors.Red.Lighten2,
                Info = Colors.BlueGray.Lighten2,
        },
        Shadows = new Shadow(),
        Typography = new Typography(),
        LayoutProperties = new LayoutProperties(),
        ZIndex = new ZIndex(),
        PseudoCss = new PseudoCss()
    };
}